@{
    ViewData["Title"] = "Student: Robert Toltowicz";
    ViewData["Message"] = "Web Applications Engineering. Spring semester 2017. Professor Michael Olan.";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Stockton University<br />
    101 Vera King Farris Drive<br />
    Galloway, NJ 08205-9441<br />
    <abbr title="Phone">P:</abbr>
    609.652.1776
</address>

<address>
    <strong>Programming:</strong> <a href="mailto:toltowir@go.stockton.edu">toltowir@go.stockton.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:toltowir@go.stockton.edu">toltowir@go.stockton.edu</a>
</address>
Galloway, NJ 08205-9441
